.vscode
dist
lib
.env
records

# Logs
logs
*.log
npm-debug.log*
yarn-error.log

# Installed npm modules
yarn.lock
package-lock.json
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Coverage directory used by tools like istanbul
coverage

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
